<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>parent-update debugger</title>
    <style>
      body {
        font-family: Menlo, Consolas, monospace;
        color: #444;
      }
      .item {
        cursor: pointer;
      }
      .bold {
        font-weight: bold;
      }
      ul {
        padding-left: 1em;
        line-height: 1.5em;
        list-style-type: dot;
      }
    </style>
    <script src="../../dist/vue.js"></script>
  </head>
  <body>
    <!-- item template -->
    <script type="text/x-template" id="list-template">
     <ul>
        <li v-for="(item, key) in list" :key="key">{{ item }}</li>
     </ul>
    </script>
    <!-- App template (in DOM) -->
    <div id="app">
      <input v-model="name" />
      <list :list="list"></list>
      <div>文本标签</div>
    </div>
    <script>
      Vue.component('list', {
        template: '#list-template',
        props: {
          list: { 
            type: Array,
            default: () => []
          }
        }
      })

      debugger
      var app = new Vue({
        el: '#app',
        data() {
          return {
            list: [1, 2, 3, 4, 5],
            name: ''
          }
        },
        methods: {
          handleAdd() {
            this.list.push('test')
          }
        }
      })

      // (function anonymous() {
      //   with(this){
      //     return _c('div',{attrs:{"id":"app"}},[
      //       _c('input',{
      //         directives:[{name:"model",rawName:"v-model",value:(name),expression:"name"}],
      //         domProps:{"value":(name)},
      //         on:{
      //           "input":function($event){
      //             if($event.target.composing)return;
      //             name=$event.target.value
      //           }
      //         }
      //       }),
      //       _v(" "),
      //       _c('list',{attrs:{"list":list}}),
      //       _v(" "),
      //       _c('div',[_v("文本标签")])
      //     ],1)
      //   }
      // })

      // 如果子组件依赖父组件定义的响应式数据A，但是该响应式数据A并未更改， 而是更改其他的数据，这个时候并不会走子组件的Watcher run函数
    </script>
  </body>
</html>
